---
import config_json from "../../review_templates/template_zh.json";
import PageLayout from "../../layouts/PageLayout.astro";
import OptionForm from "../../components/OptionForm.astro";
import FlagSelect from "../../components/FlagSelect.astro";
---

<PageLayout title="Steam评测模板">
  <header class="bg-slate-700 text-white py-2 flex flex-col items-center">
    <h1>{"---{ 评测模板 }---"}</h1>
    <FlagSelect />
    <p class="mt-0">☑ 超赞</p>
  </header>

  <div class="max-w-screen-sm mx-auto px-4">
    <p>
      这个工具可以简化创建在Steam测评上流行的复制粘贴式评测
      (如果你打开了这个网页，这<em>就是</em> 你在找的东西)。我觉得他们比较有趣，所以我做了这个网站，以避免重复复制粘贴。&nbsp;😆
    </p>
    <p>
      代码开源 &rarr; <a
        href="https://github.com/Si-Jiu/steam-review-template-Chinese"
      >
        在Github上查看</a
      >!
    </p>
    <p>
      在结果下面包含制作名单。可以选择把他留在那里，如果不删去我会十分感谢你！
    </p>
    {
      config_json.categories.map((category, index) => (
        <OptionForm category={category} index={index} />
      ))
    }
    <div class="flex justify-center">
      <button
        id="output-button"
        class="py-4 px-8 text-lg font-bold rounded-lg border-none shadow bg-amber-400 hover:cursor-pointer hover:shadow-lg transition-all"
      >
        生成Steam评测！</button
      >
    </div>

    <div class="flex justify-center mt-4">
      <button
        id="copy-output"
        class="py-2 px-4 text-lg rounded-lg border-none shadow bg-sky-100 hover:cursor-pointer hover:shadow-lg transition-all"
      >
        复制输出</button
      >
    </div>
  </div>
</PageLayout>
